<!DOCTYPE html>
<html>
	<head>
		<title>Calculator</title>
		<link rel="stylesheet" href="/site.css">
	</head>
	<body>
		<h1>Calculator</h1>
		<b>
			Result: {{#result}}
							{{.}}
							{{/result}}
		</b>
		
			<form method="post" action="calc">
				<div class="inputs">
				  <input type="number" name="left" value="0" required>
				  <input type="number" name="right" value="0" required>
			 	</div>
			 	<div class="buttons">
				  <button name="selection" value="add">+</button>
				  <button name="selection" value="subtract">-</button>
				  <button name="selection" value="multiply">*</button>
				  <button name="selection" value="divide">/</button>
				  <button name="selection" value="modular">Mod</button>
				  <button name="selection" value="exponent">Exp</button>
			  </div>
</form> 


	</body>
</html>